*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

.color-theme {
  background: #23424a;
}

.hero__content {
  color: white;
  padding: 2em 2em;
  /* width: 60%; */
}
.fuck {
  /* outline: 2px solid red; */
  text-align: center;
  flex-direction: column;
}

.cta-btn {
  position: sticky;
  top: 0;
  background: #23424a;
  padding: 2rem;
  text-align: center;
}

.hero p {
  margin: 2em 0;
}
.row {
  display: flex;
  padding: 2em 0;
  /* gap: 5rem; */
}

.col {
  padding: 2em 0;
  width: 100%;
  text-align: center;
}

.col h2 {
  margin-bottom: 0.5em;
}
.accent {
  color: #38cfd9;
}

.col + .col {
  margin-left: 3rem;
}

.sec {
  padding: 2em 1em;
  color: white;
}

.two-col {
  padding: 2em 1em;
}

.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #24424a;
  font-weight: 600;
  background-color: #38cfd9;
  padding: 0.75rem 2rem;
  border-radius: 1000px;
}

.btn:hover,
.btn:focus {
  /* opacity: 0.75; */
  transform: translate(-280px, 0px);
  transition: 0.8s;
}
